div.container.calc
		div.col-xs-12
			div.screen 0123456789
		div#buttonscontainer
			div.row
				div.col-xs-3
					button.btn.btn-default#ac AC
				div.col-xs-3
					button.btn.btn-default#ce CE
				div.col-xs-3
					button.btn.btn-default#percent &#37;
				div.col-xs-3
					button.btn.btn-default#divide &divide;
			div.row
				div.col-xs-3
					button.btn.btn-default#seven 7
				div.col-xs-3
					button.btn.btn-default#eight 8
				div.col-xs-3
					button.btn.btn-default#nine 9
				div.col-xs-3
					button.btn.btn-default#multiply &times;
			div.row
				div.col-xs-3
					button.btn.btn-default#four 4
				div.col-xs-3
					button.btn.btn-default#five 5
				div.col-xs-3
					button.btn.btn-default#six 6
				div.col-xs-3
					button.btn.btn-default#subtract &#45;
			div.row
				div.col-xs-9
					div.row
						div.col-xs-4
							button.btn.btn-default#one 1
						div.col-xs-4
							button.btn.btn-default#two 2
						div.col-xs-4
							button.btn.btn-default#three 3
					div.row
						div.col-xs-4
							button.btn.btn-default#zero 0
						div.col-xs-4
							button.btn.btn-default#decimal .
						div.col-xs-4
							button.btn.btn-default#equals = 
				div.col-xs-3
					button.btn.btn-default#addition &#43;
	